@model JvHomes.Models.Reports

@{
    ViewBag.Title = "PayoutReport";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




@using (Html.BeginForm("ClubIncomeReport", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Reports</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">

                            <li class="breadcrumb-item active">Club Income Report</li>
                        </ol>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <div class="row">
                <div class="dt-responsive table-responsive">
                    <table id="example23" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Login Id</th>
                                <th>Name</th>
                                <th>ClubName</th>
                                <th>Target</th>
                                <th>1 Team Business</th>
                                <th>Rest Business</th>
                                <th>TotalBusiness</th>


                                <th>RewardName</th>



                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.payoutData != null)
                                {
                                    if (Model.payoutData.Rows.Count > 0)
                                    {
                                        int j = 1;
                                        for (int i = 0; i <= Model.payoutData.Rows.Count - 1; i++)
                                        {
                                            <tr class="text-left">
                                                <td>@j</td>

                                                <td>@Model.payoutData.Rows[i]["LoginId"].ToString()</td>
                                                <td>@Model.payoutData.Rows[i]["Name"].ToString()</td>
                                                <td>@Model.payoutData.Rows[i]["ClubName"].ToString()</td>
                                                <td>@Model.payoutData.Rows[i]["Target"].ToString()</td>
                                                <td>@Model.payoutData.Rows[i]["HighestBusiness"].ToString()</td>
                                                <td>@Model.payoutData.Rows[i]["RestBusiness"].ToString()</td>
                                                <td>@Model.payoutData.Rows[i]["TotalBusiness"].ToString()</td>

                                                <td>@Model.payoutData.Rows[i]["RewardName"].ToString()</td>

                                            </tr>
                                            j++;
                                        }
                                    }

                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


}

<script src="../../Scripts/jquery-1.10.2.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
</script>


