@model JvHomes.Models.Reports

@{
    ViewBag.Title = "Direct";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrapper">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Tree</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">

                        <li class="breadcrumb-item active">Direct</li>
                    </ol>
                </div>
            </div>
            <!-- end row -->
        </div>

        <div class="row">
        <table id="example23" class="table table-bordered">
            <thead>
                <tr>
                    <th>LoginId</th>

                    <th>Name</th>

                    <th>Joining Date</th>
                    <th>Mobile</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.directList != null)
                    {
                        if (Model.directList.Rows.Count > 0)
                        {
                            for (int i = 0; i <= Model.directList.Rows.Count - 1; i++)
                            {
                                <tr>
                                    <td>@Model.directList.Rows[i]["LoginId"].ToString()</td>

                                    <td>@Model.directList.Rows[i]["Name"].ToString()</td>

                                    <td>@Model.directList.Rows[i]["JoiningDate"].ToString()</td>
                                    <td>@Model.directList.Rows[i]["Mobile"].ToString()</td>
                                    <td>@Model.directList.Rows[i]["Status"].ToString()</td>

                                </tr>
                            }

                        }
                    }
                }

            </tbody>
        </table>
    </div>
</div>
     </div>     